@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #f8fafc, #e2e8f0);
  color: #1e293b;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #f8fbff;
}

.logo {
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 60px;
  max-width: 160px;
  object-fit: contain;
  z-index: 50;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #0f172a;
}

.highlight {
  color: #3b82f6; /* Tailwind blue-500 */
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #64748b;
  margin-top: 0.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* kleiner! */
  gap: 2rem;
  padding: 0 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #cbd5e1;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow:
          0 10px 25px rgba(0, 0, 0, 0.08),
          inset 0 0 60px rgba(59, 130, 246, 0.15);
}

.card-title {
  font-size: 1.7rem;
  font-weight: 100;
  color: #5a373f;
  margin-bottom: 0.5rem;
}

.card-desc {
  font-size: 0.95rem;
  color: #475569;
  font-weight: 400;
  max-width: 90%;
  margin: 0 auto;
}

.icon {
  margin-bottom: 1rem;
  color: #3b82f6;
  stroke: #3b82f6;
}

.header {
  margin-bottom: 4rem;
  text-align: left;
  padding-left: 15rem;
}